<div class="row">
    <function-name-selector [functionNameChoices]="functionNameChoices" [selectedFunctionName]="selectedName"
    (functionNameSelected)="onFunctionNameSelected($event)"></function-name-selector>
    <function-note-selector [functionNoteChoices]="functionNoteChoices" [selectedFunctionNotes]="selectedNotes"
    (functionNotesSelected)="onFunctionNotesSelected($event)"></function-note-selector>
    <function-seconds-selector [functionSecondsChoices]="functionSecondsChoices" [selectedFunctionSeconds]="selectedSeconds"
    (functionSecondsSelected)="onFunctionSecondsSelected($event)"></function-seconds-selector>
</div>