<div class="row">
    <function-instructions-table></function-instructions-table>
    <div class="col-sm-12">
        <div class="col-sm-6">
            <textarea id="code" rows="20" cols="70" [(ngModel)]="code"></textarea>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <sound-selector [sounds]="sounds" [selectedSound]="selectedSound" (soundSelected)="onSoundSelected($event)"></sound-selector>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 button-container">
                    <div class="btn btn-primary btn-lg" (click)="run()">Play</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h2 id="code-error" class="bg-danger" *ngIf="displayError">{{displayError}}</h2>
</div>